.category {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 600px;
	
	.card {
		border-radius: 24px;
		background: #000;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		.cardName {
			position: absolute;
            width: 100%;
			top: 35%;
            z-index: 2;
			transform: translateY(-35%);
			right: 50%;
			transform: translateX(50%);
			color: #fff;
			text-align: center;
			text-shadow: 0px 0px 62.375px #fff;
			font-family: 'Suisse Intl';
			font-size: 104px;
			font-style: normal;
			font-weight: 500;
			line-height: 100%; /* 104px */
			letter-spacing: -4.16px;
            
		}
		.cardInfo {
            width: 100%;
           
			position: absolute;
			right: 50%;
            z-index: 2;
			transform: translateX(50%);
			bottom: 50px;
			color: rgba(255, 255, 255, 0.64);

			text-align: center;
			font-family: 'Suisse Intl';
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: 100%; /* 24px */
           
		}
		.gr1,
		.gr2,
		.gr3 {
            position: absolute;
			width: 957.456px;
			height: 980.327px;
			flex-shrink: 0;
			background: radial-gradient(
				52.76% 100.97% at 77.27% 20.96%,
				#1f00ba 0%,
				#8f00ff 60.5%,
				rgba(143, 0, 255, 0.39) 100%
			);
			filter: blur(168.9322967529297px);
			animation: opacityGradient 2s ease-in-out;
		}
		.gr1 {
			bottom: 156px;
            left: 100px;
		}
        .gr2 {
            top:96%;
            right: 650px;
        }
        .gr3 {
            top:93%;
            left: 700px;
        }
	}
	.cardFooter {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 40px;
		padding-right: 40px;
		.subname {
			color: var(--color-main);
			font-family: Inter;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 200%; /* 36px */
		}
		.detailsBtn {
			display: flex;
			align-items: center;
			gap: 8px;
			color: var(--color-main);
			font-family: Inter;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 200%; /* 36px */
		}
	}
}
@keyframes opacityGradient {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
	
}