.categorypage {
    background-color: #090021;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 189px;
    font-family: 'Suisse Intl';
    overflow-x:hidden;
    padding-bottom: 100px;
    min-height: 100vh;
    max-height: 1100px;
    position: relative;
    .content {
        display: flex;
        flex-direction: column;
        gap: 103px;
        align-items: flex-start;
        z-index: 2;
        width: 1000px;
        .category_info {
            display: flex;
            flex-direction: column;
            gap: 103px;
            .category_title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 28px;

                h3 {
                    color: #afafaf;
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 100%; /* 26px */
                }

                h2 {
                   
                    color: #fff;
                    text-align: center;
                    font-size: 64px;
                    font-weight: 600;
                    line-height: 100%; /* 64px */
                }
            }

            .category_descr {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 28px;
                color: #fff;
                font-size: 26px;
                font-weight: 500;
                line-height: 100%; /* 26px */

                span {
                    width: 100%;
                    color: #737579;
                    text-align: start;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 100%; /* 16px */
                }
            }
        }

        .expCards {
            max-width: 950px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
            z-index: 2;
        }
    }

    .gr1,
    .gr2 {
        position: absolute;
        width: 957.456px;
        height: 980.327px;
        flex-shrink: 0;
        z-index: 0;
        background: radial-gradient(
            52.76% 100.97% at 77.27% 20.96%,
            rgba(31, 0, 186, 0.3) 0%,
            rgba(143, 0, 255, 0.3) 60.5%,
            rgba(143, 0, 255, 0.12) 100%
        );
        filter: blur(168.932px);
        animation: fadeInMove 6s forwards; /* Обновлено имя анимации */
    }

    .gr1 {
        top: -200px; /* Начальная позиция выше экрана */
        left: -600px; /* Начальная позиция левее экрана */
        animation: fadeInMove1 6s forwards;
    }

    .gr2 {
        top: 1200px; /* Начальная позиция ниже экрана */
        right: -800px; /* Начальная позиция правее экрана */
        animation: fadeInMove2 6s forwards;
    }

    @media only screen and (max-width: 480px) {
        padding: 20px;

        .content {
            .expCards {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@keyframes fadeInMove1 {
    0% {
        opacity: 0;
        transform: translate(0, 0); /* Исходное положение */
    }
    50% {
        opacity: 0.5; /* Прозрачность на половине пути */
        transform: translate(50px, -50px); /* Движение вправо и вверх */
    }
    100% {
        opacity: 1; /* Конечная прозрачность */
        transform: translate(100px, -100px); /* Движение вправо и вверх */
    }
}

@keyframes fadeInMove2 {
    0% {
        opacity: 0;
        transform: translate(0, 0); /* Исходное положение */
    }
    50% {
        opacity: 0.5; /* Прозрачность на половине пути */
        transform: translate(-75px, -50px); /* Движение вправо и вверх */
    }
    100% {
        opacity: 1; /* Конечная прозрачность */
        transform: translate(-150px, -100px); /* Движение вправо и вверх */
    }
}
.categorypage::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 5px;
	
}
.categorypage::-webkit-scrollbar {
	width: 7px;
	background-color: #797979;
	border-radius: 5px;
	position: relative;
	margin-left: 20px;
}
