:root[data-theme="dark"]{
    --color-main: #fff;
    --color-sub: #5D5D5D;
    --background-color: #000000;
}
:root[data-theme="light"]{
    --color-main: #fff;
    --color-sub: #5D5D5D;
    --background-color: #fff;
}